<div class="row col-md-8">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/dashboard">Home</a></li>
    <li role="presentation"><a href="/planes">Jadwal</a></li>
    <li role="presentation"><a href="/bookings">Daftar Pemesan</a></li>
    <li role="presentation"><a href="/confirmations">List Konfirmasi</a></li>
  </ul>
</div>
