<%= render 'partials/navbar' %>

<br><br>
<div class="container">
		<ul>
			<li style="font-family:Sagoe Print; font-size:25pt;">Ketentuan Pembayaran</li>
			<br><li>1. Melalui ATM BCA No. REK 98776787457654737 </li>	
				<li>2. Melalui ATM BRI No. REK 3347364736483726 </li>
				<li>3. Melalui ATM Mandiri No. REK 984786574688 </li>

		</ul>
	</div> <br>
	<div class="container">
		Note: Pembayaran maksimal H+1 setelah pemesanan. Apabila tidak membayar dianggap hangus. Pembatalan max h-1 dan dipotong 50 %
	</div><br><br><br><br><br>
	<center>
	<div class="container">
<br><h1 style="font-size:25pt;margin-right:10px;">Kontak Kami :</h1><br>
<p style="margin-right:10px;">Alamat : JL. D.I Panjaitan No. 128 Purwokerto</p>
<p style="margin-right:10px;">Email : admin@trainesia.com</p>
<p style="margin-right:10px;">Telp : 085641955299</p>
</div>
</center>