
<!-- navigation bar -->

<%= render 'partials/navbar' %>

<div id="ninja-slider">
        <div class="slider-inner">
            <ul>
                <li>
                  <a class="ns-img" href="/img/SATU.Jpg"></a>
                  <div class="caption">Selamat Datang di Flightnesia</div>
                </li>
                <li>
                  <a class="ns-img" href="/img/DUA.jpg"></a>
                  <div class="caption">Teman yang Baik Untuk Perjalanan Anda</div>
                </li>
                <li>
                  <a class="ns-img" href="/img/TIGA.jpg"></a>
                  <div class="caption">Kemanapun dan Kapanpun</div>
                </li>
                <li>
                  <a class="ns-img" href="/img/EMPAT.jpg"></a>
                  <div class="caption">Lebih Nyaman dan Lebih Aman</div>
                </li>
            </ul>
    </div>
</div>
